# Folder yang berisi file sementara hasil build
Builds/

# Folder yang berisi cache dari Unity
Temp/

# Folder yang berisi file log
Logs/

# Folder yang berisi file yang dihasilkan oleh Unity ketika proyek dijalankan
Library/

# File sementara yang dibuat oleh editor Visual Studio Code
.vscode/

# File yang dihasilkan oleh MacOS
.DS_Store

ProjectSettings/ProjectVersion.txt
ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
ProjectSettings/Packages/com.unity.learn.iet-framework/Settings.json
Packages/packages-lock.json
Assets/XR/Settings/Open XR Package Settings.asset
Assembly-CSharp.csproj
ar-newton-unity.sln
